html{
	box-sizing: border-box;
}
*, *:after, *:before{
	box-sizing:inherit;
}
body{
	font-family: 'Play', sans-serif;
}
.conteiner{
	display: flex;
	max-width: 960px;
	margin: 20px auto;
	background-color: #FAFAFA;
	justify-content: space-between;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.profile{
	flex-basis: 37%;
	background-color: #045FB4;
	color: #E7EAD9;	
}
.profile-info{
	padding: 50px 30px 70px;
}
.heading-light{
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: 2px #ababab dashed;
}
.heading{
	padding-bottom: 16px;
	margin: 0;
}
.profile-text{
	line-height: 24.19px;
	font-size: 15px;
	margin-bottom: 50px;
}
.profile-photo{
	height: 270px;
	background-image: url(../image/photo.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.contacts-title{
	color: #fff;
	margin-bottom: 13px;
	text-transform: uppercase;
}
.contacts-link{
	color: #E7EAD9;
	text-decoration: none;
	padding-left: 29px;
}
.contacts-item{
	border-bottom: 2px #ababab dashed;
	padding-bottom: 24px;
}
.contacts-item i{
	margin-right: 10px;
}

.contacts{
	margin-bottom: 70px;
}
address{
	font-style: normal;
	line-height: 20.95px;
}
.trait{
	width: 120px;
	height: 120px;
	border: 4px dotted #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
	margin-right: 27px;
}
.trait:nth-child(5){
	margin-bottom: 0;
}
.trait-text{
	text-transform: uppercase;
	font-size: 11px;
}
.trait-per{
	font-size: 20px;
	color: #fff;
}
.traits{
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}
.line{
	display: block;
	margin:10px 0;
	width: 90px;
	height: 4px;
	background-color: #E7EAD9;
}
.line:nth-child(2){
	width: 100px;
	margin-left: 15px;
}
.lines{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.resume-wrap{
	border: 2px solid rgba(4,95,180,0.4);
	padding: 35px 55px;
	min-height: 100%;
}
.resume{
	padding: 20px;
	flex-basis: 61%;
	background-color: #fff;
	color: #424242;
}
.logo{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.logo-img{
	width: 120px;
	height: 120px;
	border: 4px solid #E7EAD9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: 600;
}
.logo-lines{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}
.logo-line{
	width: 55px;
	height: 4px;
	background-color: #E7EAD9;
	margin-bottom: 10px;
	margin-top: 10px;
}
.logo-lines-left .logo-line:nth-child(2){
	margin-right: 20px;
	width: 65px;
}
.logo-lines-right .logo-line:nth-child(2){
	margin-left: 20px;
	width: 65px;
}
.about{
	text-align: center;
	border-bottom: 4px solid #E7EAD9;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.name{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;

}
.age{
	font-size: 15px;
	text-transform: uppercase;
}
.heading-dark{
	font-size: 20px;
	border-bottom: 4px solid #E7EAD9;
	padding-bottom: 30px;
	text-transform: uppercase;
	margin-top: 40px;

}
.list-item{
	padding-bottom: 10px;
	margin-top: 20px;
	border-bottom: 2px #ababab dashed;
}


@media(max-width: 600px){
	.conteiner{
 	flex-direction: column;
 	}
   .profile-photo{
	height: 400px;
	width: 400px;
	background-position: center center;
	margin: auto;
	border-radius: 50%;
	}
	.trait-text{
	font-size: 9px;
   }
   .logo-line{
	width: 45px;
   }
   .name{
   	font-size: 16px;
   }
  .logo-img{
	width: 100px;
	height: 100px;
	font-size: 20px;
	font-weight: 600;
   }
   .trait{
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	margin-right: 27px;
   }
}
@media(max-width: 768px){
   .conteiner{
 	flex-direction: column;
 	margin-top: 0px;
   }
   .profile-photo{
	height: 400px;
	width: 400px;
	background-position: center center;
	margin: auto;
	border-radius: 50%;
	}
	.trait-text{
	font-size: 9px;
   }

   .logo-line{
	width: 45px;
   }
   .name{
   	font-size: 16px;
   }
  .logo-img{
	width: 100px;
	height: 100px;
	font-size: 20px;
	font-weight: 600;
   }
   .trait{
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	margin-right: 27px;
   }
}

@media(max-width: 992px) {
	.conteiner{
 	flex-direction: column;
 	margin-top: 0px;
    }
    .profile-photo{
	height: 400px;
	width: 400px;
	background-position: center center;
	margin: auto;
	border-radius: 50%;
	}
}

@media (max-width: 1024px){
 .conteiner{
 	width: 90%;
 }
} 